*{
    margin: 0;
    padding: 0;
}
body{
    background: url("temps.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}
.clock{
    background: url("cadran.jpeg");
    background-size: cover;
    border: 5px solid rgb(34, 9, 105);
    border-radius: 10%;
}
.wrap{
    width: 500px;
    height: 500px;
    position: relative;
}
.minute, .heure{
    position: absolute;
    height: 110px; width: 6px;
    background: black;
    margin: auto;
    top: -22%;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 4);
}
.minute{
    position: absolute;
    height: 135px;
    width: 4px;
    top: -27%;
    left: 0;
    right: 0;
    transform: rotate(90deg);
}
.seconde{
    position: absolute;
    height:  140px;
    width: 2px;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: -28%;
    background: red;
    transform-origin: bottom center;
    transform: rotate(180deg);
}
.point{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    background: rgb(2, 2, 127);
    border: solid 5px;
    border-radius: 50%;
}
 